* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Atkinson Hyperlegible", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #152938;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}

.container-gameboard {
  width: 111rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 8rem;
  display: none;
}
.container-gameboard--active {
  display: flex;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.gamename {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  color: #152938;
}

.buttons__restart, .buttons__newgame {
  border: none;
  background-color: transparent;
  border-radius: 2.6rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  padding: 1.35rem 2.9rem;
  transition: all 0.5s;
  cursor: pointer;
}
.buttons__restart {
  color: #fcfcfc;
  background-color: #fda214;
}
.buttons__restart:active, .buttons__restart:hover {
  opacity: 0.6;
}
.buttons__newgame {
  color: #304859;
  background-color: #dfe7ec;
}
.buttons__newgame:hover, .buttons__newgame:active {
  color: #fcfcfc;
  background-color: #6395b8;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
}

.timer,
.moves {
  background-color: #dfe7ec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem;
  border-radius: 1.5rem;
  flex-basis: 25%;
}
.timer__header,
.moves__header {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #7191a5;
}
.timer__number,
.moves__number {
  color: #304859;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  text-align: right;
}
.timer-color--active,
.moves-color--active {
  color: #fff;
}
.timer-bg--active,
.moves-bg--active {
  background-color: #fda214;
}
.timer-bg--tie,
.moves-bg--tie {
  background-color: #152938;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 5rem;
  background-color: #fff;
  border-radius: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65rem;
  z-index: 100;
  transition: all 0.5s;
}
.modal__header, .modal__subheader {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  text-align: center;
}
.modal__header {
  color: #152938;
  line-height: 6rem;
  font-size: 4.8rem;
}
.modal__subheader {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #7191a5;
}
.modal__stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
}
.modal__stats > * {
  flex-basis: 100%;
}
.modal__buttons {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.modal__buttons > * {
  flex: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.game-title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  color: #fcfcfc;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 4rem;
  width: 65rem;
  border-radius: 2rem;
  background-color: #fcfcfc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu__header {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #7191a5;
  margin-bottom: 1rem;
}
.menu__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.menu__buttons > * {
  flex: 1;
}

.btn {
  border: none;
  background-color: transparent;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3.2rem;
  padding: 1rem 0;
  text-align: center;
  color: #fcfcfc;
  background-color: #bcced9;
  cursor: pointer;
  transition: all 0.5s;
}
.btn:hover:not(.btn--active):not(.btn--start), .btn:active:not(.btn--active):not(.btn--start) {
  background-color: #6395b8;
}
.btn--active {
  background-color: #304859;
}
.btn--start {
  background-color: #fda214;
}
.btn--start:hover, .btn--start:active {
  opacity: 0.6;
}

.game-board {
  display: grid;
  gap: 1rem;
  width: 53.2rem;
  height: 53.2rem;
  margin: 0 auto;
}
.game-board--grid-16 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.game-board--grid-36 {
  grid-template-columns: repeat(6, 1fr);
}

.circle {
  position: relative;
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.9rem;
  border-radius: 50%;
}
.circle__button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: none;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #304859;
  cursor: pointer;
}
.circle__button:hover, .circle__button:active {
  background-color: #6395b8;
}
.circle__button--hidden {
  transform: scale(0);
}
.circle__button, .circle__content {
  border-radius: 50%;
}
.circle__button--large, .circle__content--large {
  width: 11.8rem;
  height: 11.8rem;
}
.circle__button--small, .circle__content--small {
  width: 8.2rem;
  height: 8.2rem;
}
.circle__content {
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle__content--active {
  background-color: #fda214;
}
.circle__content--found {
  background-color: #bcced9;
  color: #fcfcfc;
}

/*# sourceMappingURL=styles.css.map */
