//Color Variables
$color-orange-dark: #fda214;
$color-blue-dark: #152938;
$color-blue-lightmint: #bcced9;
$color-blue-lightdark: #304859;
$color-grey: #f2f2f2;
$color-white: #fcfcfc;
$color-greyblue: #7191a5;
$color-blue: #6395b8;

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Atkinson Hyperlegible", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-blue-dark;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  width: 65rem;

  @include respond(phone) {
    width: 90vw;
    height: 90vh;
    max-width: 60rem;
  }

  @include respond(tab-port) {
    width: 85vw;
    max-width: 90rem;
    height: 100vh;
  }
}

.container-gameboard {
  width: 111rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 8rem;
  display: none;

  &--active {
    display: flex;
  }
  @include respond(phone) {
    width: 90vw;
    height: 90vh;
    max-width: 60rem;
    gap: 0rem;
  }

  @include respond(tab-port) {
    width: 85vw;
    max-width: 90rem;
    height: 100vh;
    gap: 1rem;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 5rem;
  background-color: #fff;
  border-radius: 2rem;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65rem;
  z-index: 100;
  transition: all 0.5s;

  @include respond(phone) {
    width: 85vw;
    max-width: 60rem;
    padding: 2.5rem;
  }

  @include respond(tab-port) {
    width: 85vw;
    max-width: 90rem;
    padding: 2.5rem;
  }

  &__header,
  &__subheader {
    font-family: "Atkinson Hyperlegible";
    font-style: normal;
    font-weight: 700;
    text-align: center;
  }
  &__header {
    color: $color-blue-dark;
    line-height: 6rem;
    font-size: 4.8rem;

    @include respond(phone) {
      font-size: 2.4rem;
      line-height: 3rem;
    }
  }

  &__subheader {
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $color-greyblue;

    @include respond(phone) {
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
  }
  &__stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;

    @include respond(phone) {
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      width: 100%;
      gap: 1.5rem;
    }

    & > * {
      flex-basis: 100%;
    }
  }

  &__timer,
  &__moves {
    @include respond(phone) {
      flex-direction: row !important;
      padding: 1rem !important;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;

    @include respond(phone) {
      flex-direction: column;
    }

    & > * {
      flex: 1;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
